* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    font-family: 'Playfair Display', serif;
}

@media screen and (pointer: coarse) {

    html,
    body {
        overflow-x: hidden;
    }
}

button {
    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}



.container {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2rem;

    background: linear-gradient(to left, aquamarine 40%, coral 60%)
}

.title {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 36pt;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 0rem;
    /* margin-right: -1.2em; */

    /* letter-spacing: 25px; */

    /* background-image: linear-gradient(to left, aquamarine, white, coral);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; */
    text-decoration: underline;
    /* text-shadow: 1px 1px 36px rgba(255,255,255,0.5); */
}

.title .hint {
    color: rgba(255, 255, 255, 0.4);

}

.canvasWrapper {

    width: 100%;
    max-width: 600px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

#canvas {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;

    box-shadow: -1px 1px 400px -13px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: -1px 1px 400px -13px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: -1px 1px 400px -13px rgba(255, 255, 255, 0.25);

    border-radius: 1rem;
}

.controlsWrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlsWrapper .playback {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 30%;
}

.controlsWrapper .playback button {
    margin: 1rem;

    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;

    transition: all 0.1s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;


}

.controlsWrapper .playback button:hover {
    background-color: rgba(0, 0, 0, 1);
}

.footer {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0.5rem;
    font-weight: 700;
}

.footer a {
    color: currentColor;
    transition: all 0.1s ease;
}

.footer a:hover {
    color: black;
}
